Data ENcoding

# 1. Nominal/OHE ENcoding
# 2. Label and Ordinal ENcoding
# 3. Target Guided Ordinal Encoding

nominal : convert categorical data into a numerical format that machine learning algorithms can understand, by creating a new binary (0 or 1) column for each unique category

basically If a data point belongs to a specific category, that category's corresponding new column will be assigned a '1'. 
All other new columns for that feature will be assigned a '0'.

<!-- Nominal/one hot encoding is a technique used to represent categorical data as numerical data which is more suitable for ml algos. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category.  -->

if we have many categories within a feature then we shld not use one hot encoding because it creates that many number of new features

also it leads to sparse matrix ... and sparse matrix also leads to overfitting

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'red']})

In [ ]:
df.head()

   color
0    red
1   blue
2  green
3   blue
4    red

In [ ]:
# create an instance of OneHotEncoder
encoder = OneHotEncoder()

In [ ]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [ ]:
encoded_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [ ]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0

In [ ]:
pd.concat([df, encoded_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3   blue         1.0          0.0        0.0
4    red         0.0          0.0        1.0

Label Encoding :

a machine learning technique for converting categorical data into a numerical format by assigning a unique integer to each category, allowing algorithms to process non-numeric values.

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [10]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 0, 2])

In [11]:
encoder.transform(['red', 'green'])

array([2, 1])

Ordinal ENcoding :

Is used to encode categorical data that have an intrinsic order or ranking. Each categpry is assigned a numerical value based on its position in the order.
eg:
high school : 1
college : 2
graduate : 3
pg : 4

In [12]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
df2 = pd.DataFrame({'size': ['small', 'medium', 'large', 'medium', 'small']})

In [14]:
df

   color
0    red
1   blue
2  green
3   blue
4    red

In [21]:
# create an instance of OrdinalEncoder
encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [22]:
encoder.fit_transform(df2[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.]])

Target Guided Ordinal Encoding

It is a technique used to encode categorical variables based on theri relationships with the target variable. This encoding technique is useful when we have a categorical variable with a large number of unique categories and we want to use this variable as a feature in our ml model..
We replace each categpry in the categorical variable wth a numerical value based on the mean or median of the target variable for that category. THis creates a monotonic relationship b/w the categorical variable and the variable, which can improve the predictive power of our model.

In [23]:
import pandas as pd

In [24]:
df3 = pd.DataFrame({'city':['New York','London','Paris','Tokyo','Paris','New York'],
                    'price':[200,150,300,250,180,320]})

In [26]:
df3

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4     Paris    180
5  New York    320

In [29]:
mean_price=df3.groupby('city')['price'].mean()

In [30]:
mean_price

city
London      150.0
New York    260.0
Paris       240.0
Tokyo       250.0
Name: price, dtype: float64

In [34]:
df3['city_encoded'] = df3['city'].map(mean_price)

In [35]:
df3

       city  price  city_encoded
0  New York    200         260.0
1    London    150         150.0
2     Paris    300         240.0
3     Tokyo    250         250.0
4     Paris    180         240.0
5  New York    320         260.0